<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--mkaur24 12/14/2017  RMA-44257 Start-->
  <appSettings>

    <add key="LocalBasepath" value="D:\GitHub\"/>
    <!--mkaur24 Remarks : The path of the local machine where you wish to download.-->

    <add key="DAinstallerConfig" value="D:\Test\DAinstaller.config"/>
    <!--mkaur24 Remarks : The path of the DAinstaller.config file. -->

    <add key="GitHubRepoName" value="mkaur24/DataAnalytics_test"/>
    <!--mkaur24 Remarks : The Name of your GitHub Repo Name..-->

    <add key="GitHubDIFolder" value="Data Integrator"/>
    <!--mkaur24 Remarks : The Name of your Data Integrator folder you wish to download.Example : Data Integrator/ Data Integrator_CMD201712.-->

    <add key="GitHubURL" value="https://github.dxc.com/"/>
    <!--mkaur24 Remarks : The GitHub URL. -->

    <add key="GitHubToken" value="6f44fb04871ceca952b692ada8f29b18ca48a79a"/>
    <!--mkaur24 Remarks : The Git Hub token. -->

    <add key="QALocation" value="\\cscfilnor002\riskmaster\development\QA\data exchange\"/>
    <!--mkaur24 Remarks : The path of QA Loacation.-->

  </appSettings>
  <!--mkaur24 12/14/2017  RMA-44257 End-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>





