<connectionStrings>
  <add name="RMXSecurity" connectionString="Driver={SQL Server};Server=20.198.158.41;Database=RMA151_SECURITY_KNAKRA;UID=sa;PWD=india@123;"
    providerName="System.Data.SqlClient" />
  <add name="SessionDataSource" connectionString="Driver={SQL Server};Server=20.198.158.41;Database=RMA151_SESSION_KNAKRA;UID=sa;PWD=india@123;"
    providerName="System.Data.SqlClient" />
  <add name="ViewDataSource" connectionString="Driver={SQL Server};Server=20.201.110.208;Database=RMACDR_VIEW_QA;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="TaskManagerDataSource" connectionString="Driver={SQL Server};Server=20.198.156.23;Database=RMATM_163_KD;UID=sa;PWD=india@123;"
    providerName="System.Data.SqlClient" />
  <add name="MDADataSource" connectionString="(MDA_CONNSTRING)"
    providerName="System.Data.SqlClient" />
  <add name="ReportServer_ConnectionString" connectionString="Driver={SQL Server};Server=20.201.110.127;Database=RMACDR_SM;UID=sa;PWD=csc1234$;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloGC" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloWC" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
  <add name="PabbloVA" connectionString="DSN=AMIC-PABBLO;UID=sysprogress;PWD=sysprogress;"
    providerName="System.Data.SqlClient" />
<add name="StagingDataSource" connectionString="Driver={SQL Server};Server=20.198.156.167;Database=DA_ABHISHEK_STAGING;UID=sa;PWD=abhi@123;"
    providerName="System.Data.SqlClient" />
<add name="AccessStagingDataSource" connectionString="Driver={SQL Server};Server=20.198.156.118;Database=DA_STAG_KULDEEP_ACCESS;UID=sa;PWD=rmserver@123;"
  providerName="System.Data.SqlClient" />

<add name="RMXStagingDataSource" connectionString="Driver={SQL Server};Server=20.198.156.118;Database=DA_STAG_KULDEEP;UID=sa;PWD=rmserver@123;"  providerName="System.Data.SqlClient" />


</connectionStrings>