<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.ExceptionTypes" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Common.Globalization" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Db" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Common.RMConfigurator" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Models" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Common" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="2.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Cache" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="1.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Security" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="1.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Security.Encryption" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="1.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Riskmaster.Application.SecurityManagement" culture="neutral" publicKeyToken="2e45050b6afd1f4d" />
        <bindingRedirect oldVersion="1.0.0.0-20.0.0.0" newVersion="19.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>