<?xml version="1.0"?>
<configuration>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://%InstallPath%\assemblies.config"/>
  </assemblyBinding>
  <system.serviceModel>
    <bindings configSource="bindings.config"/>
    <client configSource="endpoints.config"/>
  </system.serviceModel>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings file="dataintegrator.config">
    <add key="ClearedTables" value="ERROR_LOG|DI_1099_DATACREATED|DI_1099_EXPORT_DATA_STAGING|DI_1099_EXPORT_TO_FILE|DI_1099_EXPORTDATA|DI_1099_MERGED_DATA|DI_1099_PAYEE_WITH_VALID_TAXID|DI_1099_STAGEDATA_I|DI_1099_STAGEDATA_II|DI_1099_VALID_PAYEES|DI_1099_PARMS|DI_1099_PAYER_DATA|DI_1099_GLOBAL_LOG|DI_1099_VALID_PAYER|DI_1099_ORG_HIERARCHY"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="KeepJobFilesOnSuccess" value="false"/>
    <add key="DAServiceEndpoint" value="%WSDLURIEndpoint%"/>
    <add key="useDefaultWebProxy" value="false"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Domain" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
