<?xml version="1.0"?>
<configuration>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://%InstallPath%\assemblies.config"/>
  </assemblyBinding>
  <system.serviceModel>
    <bindings configSource="bindings.config"/>
    <client configSource="endpoints.config"/>
  </system.serviceModel>
  <connectionStrings configSource="connectionStrings.config"/>
  <appSettings file="dataintegrator.config">
    <add key="ClearedTables" value="ENTITY_X_MMSEA|ERROR_LOG|T_MMSEA_ADJLOGDATA|T_MMSEA_ALLCLAIMAN|T_MMSEA_C1_ATTORNEY|T_MMSEA_CHECKED_QRES|T_MMSEA_CLAIM_AUXI|T_MMSEA_CLAIM_DETAIL|T_MMSEA_CLAIM_RESPONSE_DETAIL|T_MMSEA_CLAIM_RESPONSE_HEADER|T_MMSEA_CLAIM_RESPONSE_TRAILER|T_MMSEA_DACLAIMANT|T_MMSEA_EXTRA_TPOC|T_MMSEA_OPTIONSET|T_MMSEA_QUERYRESP|T_MMSEA_QUERY_EXPORT|T_MMSEA_TIN_DATA|T_MMSEA_TIN_RESPONSE_DETAIL|T_MMSEA_TIN_RESP_OTHER_DATA|T_MMSEA_UNVALIDATE|WPA_DIARY_ACT|WPA_DIARY_ENTRY"/>
    <add key="KeepJobFilesOnSuccess" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DAServiceEndpoint" value="%WSDLURIEndpoint%"/>
    <add key="useDefaultWebProxy" value="false"/>
    <add key="ProxyAddress" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <add key="Domain" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
