<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="RiskmasterConfigPath" value="%RMXInstallPath%\WCFService\web.config" />
	<add key="BasePath" value="%RMXInstallPath%\RiskMaster" />
	<add key="TempPathUNC" value="%TempUNC%" />
	<add key="TempPath" value="%TempLocal%" />
        <add key="BaseServiceUrl" value="http://localhost/" />	
<!--Following keys are added for S3-->	
 <add key="LogLocation" value="AmazonS3" /> <!--This value can be AmazonS3-->
  <add key="AWSAccessKey" value=""/>
  <add key="AWSSecretKey" value=""/>
  <add key="Region" value=""/>
  <add key="S3BucketOnCloud" value="%s3bucketname%"/>

	<!--Following keys are added to config for Non RM Express customers i.e all customers using default module job names in ATL-->
	<add key="RMXLoginName" value="%RMXLoginName%" />
	<add key="RMXDataSourceName" value="%RMXDataSourceName%"/>
	<add key="FilePath" value="%Filepath%"/>
   <add key="DocAttachNameDelimeter" value="%DocAttachNameDelimeter%"/> 
  <!-- Above key DocAttachNameDelimeter is added for MBR attachments for specifying a special character like ~#-_ to be used in attachement name as the separator for bill Document number and Claim number -->
	<!--Following keys are added to config for Cloud-->
        <add key="RMABaseLangCodeWithCulture" value="1033|en-US"/>
        <add key="TimeOut" value="6000000" />
        <add key="CloudDeployed" value="False" />
        <add key="CloudTempLocation" value="Database" />

</appSettings>