<?xml version="1.0" encoding="utf-8"?>
<client>
	<endpoint address="%WSDLURI%"
		binding="basicHttpBinding" bindingConfiguration="Connection_Operations"
		contract="DI_Services.Connection_Operations" name="Connection_Operations" />
	<endpoint address="%WSDLURI%"
		binding="basicHttpBinding" bindingConfiguration="Batch_Jobs"
		contract="DI_Services.Batch_Jobs" name="Batch_Jobs" />
	<endpoint address="%WSDLURI%"
		binding="basicHttpBinding" bindingConfiguration="Real-time_Services"
		contract="DI_Services.Realtime_Services" name="Real-time_Services" />
	<endpoint address="%WSDLURI%"
		binding="basicHttpBinding" bindingConfiguration="Batch_Job_Admin"
		contract="DI_Services.Batch_Job_Admin" name="Batch_Job_Admin" />
	<endpoint address="%WSDLURI%"
		binding="basicHttpBinding" bindingConfiguration="Profiling"
		contract="DI_Services.Profiling" name="Profiling" />
</client>