<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<connectionStrings configSource="connectionStrings.config" />-->
  <appSettings>
    <!--Fixed Variables Start-->    
    <add key="ModuleName" value="PositivePay" />   
    <add key="sqlconn" value="{SQL Server}" />
    <add key="orclconn" value="" />    
    <add key="BucketName" value="rmadebucket1" />
    <add key="AccessKey" value="AKIA4IBYFUZMUHMMKYT6" />
    <add key="SecretKey" value="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" />
    <add key="Region" value="us-west-2" />
    <add key="Unsecuressl" value="false"/>
    <add key="ClientId" value="0" />
    <add key="JobserverLastused" value="1037" /> 
    <add key="RMXLoginName" value="mk"/>
    <add key="sFilePath" value="C:\filepath"/>
    <!--Fixed Variables Ends-->
    <!--mkaur24 asofnow paramaters Starts-->

    
    
    <add key="rmdbseverasofnow" value="54.148.138.183"/>

    <add key="DAScriptsPath" value="C:\Program Files (x86)\CSC\WCFService\bin\DA_SCRIPTS\" />  
    <add key="DAServer" value="54.214.119.232" />
    <add key="DAServerUserName" value="54.214.119.232\rmde" />
    <add key="DAServerPwd" value="Rm4D3@MP" />
    <add key="DAServerPort" value="8080"/>
    <add key="DSN" value="RMProduct"/>
    <!--mkaur24 asofnow paramaters end-->
    
    
    
    
    
    <!--mkaur24 Required parameters start-->
    <add key="RMExpressScript" value="RMEXPRESS_TASK_MGR_SCRIPT_SQL.SQL|RMEXPRESS_TASK_MGR_SCRIPT_ORACLE.SQL" />
    <add key="OTHERRMDBSCRIPTS" value="generic.sql" />
    <!--MMSEA-->
    <add key="MMSEARMDBSCRIPTS" value="DI Base_SQL.sql|DI Base_Oracle.sql|MMSEA_Criteria Settings_SQL.sql|MMSEA_Criteria Settings_Oracle.sql" />
    <add key="MMSEASTAGINGSCRIPTS" value="Template_MMSEA_SQL.sql|Template_MMSEA_Oracle.sql|TPOC_THRESHOLD_Values_SQL.sql|TPOC_THRESHOLD_Values_Oracle.sql" />
    <add key="MMSEATASKMANAGERSCRIPTS" value="MMSEA_TaskManager_SQL.sql|MMSEA_TaskManager_Oracle.sql" />  
    <!--PPY-->
    <add key="PPYRMDBSCRIPTS" value="DI Base_SQL.sql|DI Base_Oracle.sql|PPY_Criteria Settings_SQL.sql|PPY_Criteria Settings_Oracle.sql" />
    <add key="PPYSTAGINGSCRIPTS" value="Module_POSITIVEPAYSQL.sql|Module_PositivePayOracle.sql" />
    <add key="PPYTASKMANAGERSCRIPTS" value="PositivePay_TaskManager.sql|PositivePay_TaskManager_Oracle.sql" />
    <!--RM1099-->
    <add key="RM1099RMDBSCRIPTS" value="DI Base_SQL.sql|DI Base_Oracle.sql|RM1099_Criteria Settings_SQL.sql|RM1099_Criteria Settings_Oracle.sql" />
    <add key="RM1099STAGINGSCRIPTS" value="Module_1099SQL.sql|Module_1099Oracle.sql" />
    <add key="RM1099TASKMANAGERSCRIPTS" value="RM1099_TaskManager.sql|RM1099_TaskManager_Oracle.sql" />
    <!--SICS-->
    <add key="SICSRMDBSCRIPTS" value="DI Base_SQL.sql|DI Base_Oracle.sql|DA_SICS_Criteria_Settings_SQL.sql|DA_SICS_Criteria_Settings_ORACLE.sql" />
    <add key="SICSSTAGINGSCRIPTS" value="DA_SICS_RMX_STAGING_SQL.sql|DA_SICS_RMX_STAGING_ORACLE.sql" />
    <add key="SICSTASKMANAGERSCRIPTS" value="DA_SICS_TaskManager_SQL.sql|DA_SICS_TaskManager_ORACLE.sql" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--ACH-->
    <add key="ACHRMDBSCRIPTS" value="DI Base_SQL.sql|DI Base_Oracle.sql" />
    <add key="ACHSTAGINGSCRIPTS" value="Module_ACHSQL.sql|Module_ACHOracle.sql" />
    <add key="ACHTASKMANAGERSCRIPTS" value="ACH_TaskManager_SQL.sql|ACH_TaskManager_Oracle.sql" />
    <!--mkaur24 Required parameters end-->
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
</configuration>