USE [ffffffffffffffffffffffff]
GO
/****** Object:  Table [dbo].[ERROR_LOG]    Script Date: 02/12/2009 11:54:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ERROR_LOG](
	[JobID] [int] NOT NULL,
	[ERR_LOG_ROW_ID] [int] NOT NULL,
	[MODULE_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WORK_FLOW_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DATA_FLOW_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ERROR_TIME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ERROR_TITLE] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ERROR_DESC] [varchar](500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

/****** Object:  Table [dbo].[T_PP_HEADERHOLD]    Script Date: 02/12/2009 11:56:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_PP_HEADERHOLD](
	[JOBID] [int] NOT NULL,
	[ACCOUNT_NUMBER] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[ACCOUNT_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATE_ID] [varchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

/****** Object:  Table [dbo].[T_PP_DETAILHOLD]    Script Date: 02/12/2009 11:56:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_PP_DETAILHOLD](
	[JOBID] [int] NULL,
	[TRANS_NUMBER] [int] NULL,
	[S_AMOUNT] [float] NULL,
	[DATE_OF_CHECK] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VOID_FLAG] [int] NULL,
	[VOID_DATE] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[STATUS_CODE] [int] NULL,
	[CLEARED_FLAG] [int] NULL,
	[FIRST_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LAST_NAME] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PAYEE_EID] [int] NULL,
	[ACCOUNT_NUMBER] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ACCOUNT_NAME] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TAX_ID] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

/****** Object:  Table [dbo].[T_PP_POSIITVEPAYOUTPUT]    Script Date: 02/12/2009 11:56:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_PP_POSITVEPAYOUTPUT](
	[JOBID] [int] NOT NULL,
	[ACCOUNTNUMBER] [varchar](1050) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SEGMENT] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ALLDATA] [varchar](157) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

/****** Object:  Table [dbo].[T_PP_IMPORT]    Script Date: 02/12/2009 11:57:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_PP_IMPORT](
	[JOBID] [int] NULL,
	[ACCOUNTNUMBER] [decimal](20, 0) NULL,
	[CHECKNUMBER] [decimal](10, 0) NULL,
	[INPUT_AMOUNT] [float] NULL,
	[CHECKDATE] [varchar](8) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF