<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings configSource="connectionStrings.config" />
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file:%InstallPath%\assemblies.config"/>
  </assemblyBinding>
  <appSettings>
    <add key="ClientId" value="0"/>
    <add key="DDSScriptOutputPath" value="" />
    <add key="DDSScriptFolder" value="" />
    <add key="DSNName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>