DA_DDS_Staging_SQL.SQL
DA_DDS_DATEVALIDATE_SQL.sql
DDS_SPCHECKVERSION_SQL.SQL
DDS_ERROR_LOG_CAPTURE_SQL.SQL
DDS_CODE_VALIDATION_IMPORT_SQL.SQL
DDS_PROCESS_LOG_SQL.SQL
DA_DDS_PROCESS_ENTITY_SQL.sql
DA_DDS_PROCESS_ORG_HIERARCHY_SQL.SQL
DA_DDS_DURATION_SQL.SQL
DDS_SUPP_GLOSSARY_INSERT_SQL.SQL
DDS_SUPPLEMENT_SQL.sql
DDS_SUPP_FIELDS_SQL.sql
DDS_USER_VERIFICATION_SQL.SQL
DA_DDS_VALIDATION_EVENT_SQL.SQL
DA_DDS_VALIDATE_IMPORT_CLAIM_SQL.sql
DDS_PROCESS_RSV_CUR_SQL.sql
DDS_RESERVE_REBAL_SQL.SQL
DDS_PROCESS_PAYMENTS_SQL.SQL
DDS_REMOVE_HTML_TAG_SQL.SQL
DDS_PROCESS_ENHANCEDNOTES_SQL.SQL
DA_DDS_MEDWATCH_IMPORT_SQL.SQL
DDS_PROCESS_ADJUSTER_SQL.SQL
DA_DDS_STD_PLAN_SQL.sql
DA_DDS_STD_CLASS_SQL.sql
DDS_TaskManager_Sql.sql