DA_DDS_Staging_ORACLE.SQL
DDS_IS_DATE_ORACLE.SQL
DDS_IS_NUMBER_ORACLE.SQL
DDS_JOB_CONFIG_PROCEDURE_ORACLE.sql
DDS_SPCHECKVERSION_ORACLE.SQL
DDS_ERROR_LOG_CAPTURE_ORACLE.SQL
DDS_CODE_VALIDATION_IMPORT_ORACLE.SQL
DDS_PROCESSORG_HIERARCHY_ORACLE.SQL
DDS_PROCESS_ENTITY_ORACLE.SQL
DDS_PROCESS_LOG_ORACLE.SQL
DDS_DURATION_ORACLE.SQL
DDS_SUPPLEMENT_ORACLE.sql
DDS_SUPP_FIELDS_ORACLE.sql
DDS_SUPP_GLOSSARY_INSERT_ORACLE.SQL
DA_DDS_VALIDATE_IMPORT_CLAIM_ORACLE.SQL
DDS_PROCESS_RES_CUR_NT_FOUND_ORACLE.SQL
DDS_USER_VERIFICATION_ORACLE.SQL
DA_DDS_EVENT_IMPORT_ORACLE.SQL
DDS_RESERVE_REBAL_ORACLE.SQL
DDS_PROCESS_RES_CUR_NT_FOUND_ORACLE.SQL
DDS_PROCESS_PAYMENTS_ORACLE.SQL
DDS_PROCESS_ENHANCEDNOTES_ORACLE.sql
DA_DDS_MEDWATCH_IMPORT_ORACLE.SQL
DDS_PROCESS_ADJUSTER_ORACLE.SQL
DDS_IMPORT_STD_PLAN_ORACLE.sql
DDS_IMPORT_STD_CLASS_ORACLE.sql
DDS_TaskManager_Oracle.sql