MBR|14.1,14.2,14.3,15.1|MBR|Template-RISKMASTER_15.1
MBR|15.2|MBR|Template-RISKMASTER_15.2
MBR|15.3|MBR|Template-RISKMASTER_15.3
MBR|15.4|MBR|Template-RISKMASTER_15.4
MBR|16.1|MBR|Template-RISKMASTER_16.1
MBR|16.2,16.3|MBR|Template-RISKMASTER_16.3
MBR|16.4,17.1,17.2,17.3|MBR|Template
MMSEA|14.1,14.2,14.3,15.1|MMSEA Medicare|Template-RMA_15.1
MMSEA|15.2,15.3|MMSEA Medicare|Template-RMA_15.3
MMSEA|15.4|MMSEA Medicare|Template-RMA_15.4
MMSEA|16.1|MMSEA Medicare|Template-RMA_16.1
MMSEA|16.2,16.3,16.4,17.1,17.2,17.3|MMSEA Medicare|Template
ISO|14.1|ISO|Template-RISKMASTER_R14.1
ISO|14.2,14.3|ISO|Template-RISKMASTER_R14.3
ISO|15.1,15.2,15.3,15.4,16.1|ISO|Template-RISKMASTER_R16.1
ISO|15.2|ISO|Template-RISKMASTER_R16.2
ISO|16.3,16.4,17.1|ISO|Template-RISKMASTER_R17.1
ISO|17.2,17.3|ISO|Template
1099|14.1,14.2,14.3,15.1,15.2,15.3,15.4,16.1|1099 MISC Export|Template-RISKMASTER_16.1
1099|16.2,16.3,16.4,17.1,17.2,17.3|1099 MISC Export|Template
PPY|14.1,14.2,14.3,15.1,15.2,15.3,15.4,16.1,16.2,16.3|Positive Pay|Template-RISKMASTER_16.3
PPY|16.4,17.1,17.2,17.3|Positive Pay|Template
PSO|15.4,16.1,16.2,16.3,16.4,17.1,17.2,17.3|PSO|Template-V1.1
DIS|16.2|DIS|Template-rmA 16.2
DIS|16.3|DIS|Template-rmA 16.3
DIS|16.4,17.1|DIS|Template-rmA 17.1
DIS|17.2,17.3|DIS|Template
DDS|16.1,16.2,16.3,16.4,17.1,17.2,17.3|DDS|Template
SICS|17.1,17.2,17.3|SICS|Template
EDI|16.4,17.1,17.2,17.3|EDI|Template
MEDI|16.4,17.1,17.2,17.3|MEDICAL_EDI|Template
PUS|17.3|PUS|Scripts
HR_INTERFACE|17.3|HR_Interface|Scripts
ACH|17.3|ACH|Template
XMLToolkit|1|XMLToolkit|Compiledcode
DA_EXE|1|Common|DA_EXEs
EDI_Supp|1|EDI|EDI SuppFields DbUpgrade
MEDI_Supp|1|MEDICAL_EDI|MEDI SuppFields DbUpgrade
MBR_Supp|1|MBR|MBR SuppFields DBUpgrade
Base_Scripts|1|Common|DA_Scripts
C#_Exe|1|DA Installer|C# Exe/C# Compiled_Exe
License_Key|1|DA Installer|DA License Key Generator/Compiled_Exe
License_Key|1|DA Installer|DA License Key Generator/Documentation/Data Exchange License Key Generator Guide.pdf
Wise|1|DA Installer|Wise/Code
Image|1|DA Installer|Data.bmp
GitHubSpecific|1|XMLToolkit|Compiledcode
GitHubSpecific|1|XMLToolkit|Compiledcode/Templates
GitHubSpecific|1|DIS DB Tools|Installer
GitHubSpecific|16.1,16.2,16.3,16.4,17.1,17.2,17.3|DDS|Template
GitHubSpecific|16.1,16.2,16.3,16.4,17.1,17.2|DDS|Template/Oracle
GitHubSpecific|16.1,16.2,16.3,16.4,17.1,17.2|DDS|Template/SQL
GitHubSpecific|1|Common|DA_EXEs/DI_EXE_rmA 16.4 - Onwards
GitHubSpecific|1|Common|DA_EXEs/DI_EXE_rmA14.1 - rmA14.2(Till_Changset_97175)
GitHubSpecific|1|Common|DA_EXEs/DI_EXE_rmA14.2(From_Changset_97175) - rmA 16.3
GitHubSpecific|1|Common|DA_EXEs/DI_EXE_rmAExpress - Till_rmA 16.3
GitHubSpecific|1|DA Installer
GitHubSpecific|1|DA Installer|C Exe/C Compiled_Exe
GitHubSpecific|1|DA Installer|DA License Key Generator/Compiled_Exe
GitHubSpecific|1|DA Installer|Documentation
GitHubSpecific|1|DA Installer|DA License Key Generator/Documentation
GitHubSpecific|ExcludeFiles|ExcludeFiles|ISO.xsd




